{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/Favorite.JPG'); background-position: center 20;"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Richa Priya</h1>
          <span class="subheading">The woman who makes everything worth it.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Richa Priya, born July 17th, 2003, is the magical being who can light up any room she walks in. With her dazzling looks and equally soothing voice,
          Richa Priya has been known to snatch the breath out of the lungs of certain engineering students, even when they are 2221 kms away. 
          If looks could kill, and resurrection was possible, these particular type of engineering students might just volunteer to die every second of the day
          just to be able to see that gorgeous face again and again. But as stated before, these are stupid engineering students anyways. 
        </p>
        <p>
          Experts say that mythological discussions with her is a must. But what will surprise you even further is her ability
          to turn that conversation into a dissection of final scene of '10 Things I Hate About You', which is a film that Delhi-based quizzers usually might have
          not seen despite their 'cinephile' status. She might be too conscious of herself, but once she lets loose around someone, even the most doofus of quizzing extroverts are
          guaranteed to have the time of your life. Research has also suggested that her excitement when she's telling you an episode from her day 
          or an anecdote of her past is enough to make the aforementioned 'pounce n bounce' enthusiasts immediately fall for her 
          the 92840392629th time and feel even more pumped for the story. And if anyone don't know how to cook, the ever graceful Richa Priya is always kind
          enough to help them out with a packet of Maggi. If anyone's having digestive issues, Richa Priya is everlastingly down to lend advice on
          how to solve one's bowel movements owing to her dietetics studies. But of course, high culture Delhi nerds don't really bother to understand all this shit cz 
          they suck.
        </p>
        <p>
          Richa Priya is the kind of human who turns ordinary days into cherished memories. Many have marvelled at how sitting with Richa Priya in parks and malls is a 
          game-changing experience, especially wannabe chip designers who don't really get out of their houses. She pays attention to details and knows 
          how to win people's hearts. Her most underrated quality is that that she is equal parts elegance and mischief, perfect enough to label any student of
          electronics as a 'TV repair guy'. The brilliant colorfulness of her personality are only matched by the dazzling shining of her kapde, two things that BLR based
          interns severely lack. But oh well, who cares about their stipend anyways.
        </p>
        <p>
          "She's shown me the light when I was in darkness," said a 20-year old haggu connoisseur, while talking about her legacy. Many 'the Wire' fans also hold the consensus that
          one long tight embrace by Richa Priya can literally send all problems into an abyss from where they return with solutions. Samaypur Badli metro users described her
          as the woman who 'makes you want to stop time when you're with her'. It is common consensus that Richa Priya will go into the pantheon of gr8est women on this planet.
        </p>
        <p>
          If you think all of this sounds Richa Priya is perfection personified and woman you’d want in your life, well, 
          you’re absolutely right. But here’s the catch: she’s already taken! And we hope the man who loves her keeps her happy till the end of time because she's
          someone who deserves it.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
